# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directories
bin/
dist/
build/
.gradle/

# Ignore environment variables file
.env

# Ignore macOS system files
.DS_Store

# Ignore IDE specific files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore Java class files
*.class

# Ignore temporary files
*.tmp
*.swp
.gradle/file-system.probe
.gradle/8.8/executionHistory/executionHistory.lock
.gradle/8.8/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
