server:
  port: 8080
  servlet:
    context-path: /gaia-f

spring:
  application:
    name: gaia-f-core
    
management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always